html {
    font-family: arial;
    background-color: white;
}

.titleContainer {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Courier";
    font-size: 400%;
    margin-top: 3%;
}

.socialImage {
    height: 10%;
    margin: 20px;
}

.submit {
    height: 10%;
    width: 100%;
    background-color: red;
    border: 1px solid #afafaf;
    background-color: grey;
    text-align: center;
}

#submitText {
    height: 100%;
    vertical-align: middle;
}

.errorContainer {
    display: none;
    background-color: red;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.errorContainer .text {
    color: white;
    text-align: center;
    font-size: 18px;
    display: block;
    line-height: 30px;
}
