<div id = "inputContainer">
    <div class="input-group">
        <span class="input-group-addon input-lg">monikr.io/</span>
        {{input value=inputVal key-up = "urlKeyUp" type="text" class="form-control input-lg"}}
    </div>
</div>
{{yield}}
