.network-container {
    padding: 5px;
}

.network {
    margin: 0;
    padding: 0;
}

.network img {
    margin-right: 8px;
    margin-top: -10px;
    height: 40px;
    float: right;
}

.network .header-input {
    width: 60%;
}

.network #input {
    float: center;
    position: relative;
}

.network #loaderContainer { 
    float: center;
    position: relative;
}