<div class = "container-fluid">
    {{title-object}}
    <div class = "row">
        {{#each model as |network|}}
                {{network-input attr = network}} 
        {{/each}}
    </div>
</div> 
{{outlet}}
